:root {
	--outer-background-colour: #191919; /* background colour for outside the main body */
	--body-background-colour: #232323; /* background colour for main body */
	--header-background-colour: #303030; /* page header */
	--content-title-colour: #f0f0f0; /* titles and headers */
	--content-base-colour: #e7e7e7; /* main text */
	--content-faded-colour: #a7a7a7; /* text with lower visual priority (e.g. post dates, subtitles, etc.) */
	--content-inactive-colour: #b4b4b4; /* element considered interactive but not currently 'active' */
	--content-blocked-colour: #717171; /* uninteractable nav element (e.g. paginator button when there's no further pages) */
	--content-elevated-background: #383838; /* background for elements or portions thereof that are higher in visual priority or separate from the main flow (i.e. table header cells, asides, figure caption) */

	--header-border-radius: 20px; /* border radius for nav bar */
	--content-border-radius: 10px; /* border radius for content items (img, code, table, etc.) */
	--button-border-radius: 15px; /* border radius for buttons when being hovered */

	--avatar-size: 64px; /* height and width of the avatar */
}

/* main body stuff */
html, body
{
	margin: 0 auto;
}

html
{
	background-color: var(--outer-background-colour);
	height: 100%;
	scrollbar-gutter: stable;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0 1em;
	max-width: 880px;
	min-height: 100%;
	color: var(--content-base-colour);
	background-color: var(--body-background-colour);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
body a, main a:visited{
	color: inherit;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
	margin: 2rem 0 1rem;
	color: var(--content-title-colour);
}
h1 {font-size: 2em;
	font-weight: 700;}
h2 {font-size: 1.25em;}
h3 {font-size: 1.1em;}

/* styling of header and its contents */
header {
	padding: 0.5em;
	background-color: var(--header-background-colour);
	border-radius: var(--header-border-radius); 
	margin: 1em 0;
	width: auto;
}

#leftside{
	display: flex;
	gap: 1em;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
}

#logo {
	width: var(--avatar-size);
	height: var(--avatar-size);
	border-radius: 20px;
	margin: 0;
}

#bannertext {
	display: flex;
	flex-direction: column;
}

#sitetitle {
	font-size: 1.5em;
	font-weight: 600;
	color: var(--content-title-colour);
}

#subtitle {
	color: var(--content-faded-colour)
}

nav{
	overflow-x: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: var(--content-inactive-colour);
	border-radius: var(--button-border-radius);
}

nav a:hover {
	color: var(--content-base-colour);
	background-color: rgba(0, 0, 0, 0.25);
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

.active {
	color: var(--content-base-colour);
}
.faded {
	color: var(--content-faded-colour);
}
.blocked {
	color: var(--content-blocked-colour);
}
.left {
	float: left;
	margin: 0 1em 0 0;
}
.right {
	float: right;
	margin: 0 0 0 1em;
}

main{
	margin-bottom: auto;
}

main > :first-child
{
	margin-top: 0;
}

hgroup
{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}
hgroup h1, p
{
	margin: 0;
}

.article-list{
	display: flex;
	flex-direction: column;
	flex: 0 1 0;
	gap: 1em;
	margin: 0;
	padding: 0;
	list-style: none;
}
.article-entry {
	display: flex;
	flex-direction: column;
}
.article-entry > :first-child {
	margin: 0;
}

footer{
	font-size: 70%;
	margin: 1rem;
	text-align: center;
	color: var(--content-faded-colour);
}

code{
	background-color: #191919;
	padding: 0.2em 0.3em;
	border-radius: var(--content-border-radius);
}
pre{
	display: block;
	border-radius: var(--content-border-radius);
}
pre code{
	display: block;
	background: none;
	padding: 0.5em;
	overflow-x: auto;
}

pre[data-lang]::before {
	content: attr(data-lang);
	font-size: 80%;
	font-family: "Inter";
	text-transform: uppercase;
	background-color: var(--content-base-colour);
	color: black;
	border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;
	padding: 0.2em 0.4rem;
	display: block;
}

img, video
{
	display: block;
	border-radius: var(--content-border-radius);
	margin: 1em auto;
	max-width: 100%;
}

figure
{
	display: table;
	margin: 1em auto;
}
figure img
{
	border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;
	margin: 0;
}
figure figcaption
{
	display: table-caption;
	caption-side: bottom;
	font-size: 80%;
	background-color: var(--content-elevated-background);
	border-radius: 0 0 var(--content-border-radius) var(--content-border-radius);
	padding: 0.4em;
	text-align: center;
}


aside
{
	border-radius: var(--content-border-radius);
	background-color: var(--content-elevated-background);
	padding: 0.5em;
	margin: 0.5em;
	max-width: 45%;
}


ul, ol 
{
	padding-inline-start: 25px;
}

blockquote{
	border-left: 3px solid;
	border-radius: 3px;
	padding: 0 0.5em;
	margin: 1em;
}

table{
	border-radius: var(--content-border-radius);
	overflow: hidden;
	border-spacing: 0;
	border: 1px solid var(--content-elevated-background);
}

th, td{
	padding: 0.5em;
}

th{
	background-color: var(--content-elevated-background);
}

details {
	overflow: hidden;
	overflow-wrap: break-word;
	border: 1px solid var(--content-elevated-background);
	border-radius: var(--content-border-radius);
	padding: 0.5em;
	width: fit-content;
}

details summary {
	cursor: pointer;
	margin: -0.5em;
	padding: 0.5em;
	background-color: var(--content-elevated-background);
	max-width: 100%;
}

details summary > * { 
	display: inline;
}

details[open] summary {
	margin-bottom: 0.5em;
	border-bottom: 1px solid var(--content-elevated-background);
}

.footnote-definition {
	padding: 1em 0;
}

div:nth-child(1 of .footnote-definition) {
	border-top: 1px solid var(--content-base-colour);
}

.footnote-definition p{
	display: inline-block;
	margin: auto;
}

.pagination-bar {
	display: flex;
	align-content: center;
	justify-content: space-around;
	margin: 1em;
}

.pagination-bar a,.pagination-bar span{
	display: flex;
	padding: 0.5em;
	align-items: center;
	text-decoration: none;
	border-radius: var(--button-border-radius);
}
.pagination-bar a:hover{
	background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 650px) {

	nav {
		justify-content: center;
		flex-direction: column;
	}

	nav ul {
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}

}

@media (max-width: 360px) {

	#leftside{
		flex-direction: column;
		text-align: center;
	}
}
