:root {
	--outer-background: #191919;
	--body-background: #232323;
	--header-background: #323232;
	--content-colour: #e9e9e9;
	--content-faded-colour: #bebebe;
	--content-highlight-colour: #383838;
}

/* main body stuff */
html, body
{
	margin: 0 auto;
	padding: 0;
}

html
{
	background-color: var(--outer-background);
	height: 100%;
	scrollbar-gutter: stable;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	min-height: 100%;
	color: var(--content-colour);
	background-color: var(--body-background);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
body a, main a:visited{
	color: var(--content-colour);
}

/* styling of header and its contents */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	background-color: var(--header-background);
	border-radius: 5px;
	margin: 0.25em;
	gap: 0.5em;
}

.leftside{
	display: flex;
	flex: 1 1 0;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	max-width: fit-content;
	min-width: 0;
}

.logo {
	width:64px;
	height:64px;
	border-radius: 50%;
}

.bannertext {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

#sitetitle, #subtitle {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#sitetitle {
	font-size: 1.5em;
	font-weight: bold;
}

#subtitle {
	color: var(--content-faded-colour)
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li a{
	display: flex;
	padding: 0.5em;
	text-decoration: none;
	color: var(--content-faded-colour)
}

nav a:hover {
	color: white;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.25);
}

.active {
	color: var(--content-colour);
}
.faded {
	color: var(--content-faded-colour);
}

#dropdown-toggle {
	display: none;
}

.dropdown-button-area
{
	display: none;
	cursor: pointer;
	padding: 0.5em;
  	align-items: center;
	content: url('/img/menu.svg');
}

.dropdown-button-area:hover {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.35);
}

.dropdown-button-icon {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	flex: 1 0 auto;
	padding: 1em;
}

footer{
	font-size: 85%;
	display: block;
	text-align: center;
	margin: 0.5em;
}

.titlearea
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.titlearea h1
{
	margin: 0;
}

section{
	margin: 1em 0;
}
section h2{
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
}
h1 {font-size: 1.6em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1.1em;}

code{
	background-color: #191919;
	padding: 0.2em 0.3em;
	border-radius: 5px;
}
pre{
	display: block;
	border-radius: 5px;
}
pre code{
	display: block;
	background: none;
	padding: 0.5em;
	overflow-x: auto;
}

pre[data-lang]::before {
	content: attr(data-lang);
	text-transform: uppercase;
	background-color: var(--content-colour);
	color: black;
	border-radius: 5px 5px 0 0;
	padding: 0.2em 0.3em;
	display: block;
}


blockquote{
	border-left: 3px solid;
	border-radius: 3px;
	padding: 0 0.5em;
	margin: 1em;
}

table{
	border-radius: 5px;
	overflow: hidden;
	border-spacing: 0;
	border: 1px solid rgba(255, 255, 255, 0.15);
}

th, td{
	padding: 0.25em;
}

th{
	background-color: rgba(255, 255, 255, 0.15);
}

.footnote-definition {
	border-top: 1px solid var(--content-colour);
	padding: 1em 0;
}
.footnote-definition p{
	display: inline-block;
	margin: auto;
}


@media (max-width: 550px) {

	.dropdown-button-area
	{
		display: flex;
	}

	nav {
		display: none;
		justify-content: center;
		width: 100%;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
	}


	#dropdown-toggle:checked ~ nav {
		display: flex;
	}

	#dropdown-toggle:checked ~ .dropdown-button-area {
		content: url('/img/x.svg');
	}

}
