{% extends "base.html" %}

{% block content %}
    <h1>Posts</h1>
    <section>
        <ul class="article-list">
            {% for page in paginator.pages %}
            <li>
                <article class="article-entry">
                    <h2><a href="{{ page.path | safe }}">{{ page.title }}</a></h2>
                    {{ page.description | safe }}
                    <span class="faded" style="font-size: 80%;">{{ page.date | date(format="%d/%m/%Y") }}</span>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}